@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");

body {
  background: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center center;
}

.container-fluid {
  min-width: 24rem;
  background: white;
  border: 4px solid black;
  border-radius: 16px;
  padding: 1.5rem 0;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.modal-dialog {
  background: white;
  border: 4px solid black;
  border-radius: 16px;
  padding: 1.5rem 0;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.modal-open {
  position: relative;
}

.modal-open#root {
  z-index: 1000;
}

body > div {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.modal-open .modal {
  display: grid !important;
  place-items: center center;
}

.modal-dialog {
  width: 40%;
}

.container-fluid button{
  margin-left: 1rem;
}

table {
  margin-top: 1rem;
}


th, td {
  padding: 0.5rem 1rem;
  text-align: left;
  border: 0 solid black;
}

tr:nth-of-type(2n) {
  background: rgba(0,0,0,0.08);
}
thead {
  background: lightgrey;

}

th {
  padding: 0.5rem 1rem;
  font-family: "Raleway", sans-serif;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.125rem;
}
tr {
  border-bottom: 1px solid black;
}


button {
  font-weight: 500;
  border: 1px solid black;
  background: white;
  padding: 0.35rem 2rem;
  font-size: 0.85rem;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 0 transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
}


.modal-backdrop {

  background: rgba(0,0,0,0.24);
}